{% extends 'base.html.twig' %}

{% block title %}MailAccount{% endblock %}

{% block body %}
    <h1>MailAccount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail_account.id }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ mail_account.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mail_account.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mail_account_index') }}">back to list</a>

    <a href="{{ path('app_mail_account_edit', {'id': mail_account.id}) }}">edit</a>

    {{ include('mail_account/_delete_form.html.twig') }}
{% endblock %}
